/*************************************************** START UITLS ***************************************************/

h1, h2, h3, h4, h5, h6, a, button, input[type="button"], input[type="submit"], label {
    font-family: avenir, 'sans-serif';
}
p, span {
    font-family: 'EB Garamond', serif;
}

/*************************************************** END UITLS ***************************************************/

/*************************************************** START MAIN HEADER STYLES ***************************************************/
.main-header {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 2px -2px #E8DFC9;

}
/*************************************************** END MAIN HEADER STYLES ***************************************************/
/*************************************************** START MAIN NAV STYLES ***************************************************/

.main-nav {
    padding-left: 50px;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-nav ul li {
    float: left;
}

.main-nav ul li a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 16px;
}

/* Change the link color to #111 (black) on hover */
.main-nav ul li a:hover {
    color: #9E1D25;
}
/*************************************************** END MAIN NAV STYLES ***************************************************/

/*************************************************** START MAIN CONTENT STYLES ***************************************************/
.main-content {
    margin: 0 auto;
    max-width: 1200px;
}


/*************************************************** END MAIN CONTENT STYLES ***************************************************/

/*************************************************** START HOMEPAGE STYLES ***************************************************/

.main-content {
    padding-top: 20px;
    margin-bottom: 20px;
}

.main-content .top-content {
    display: flex;
}

.main-content .top-content {
    display: flex;
}

.homepage-moot-container {
    width: 50%;
    border: 1px solid #D7E5E8;
    padding: 10px;
    margin-right: 10%;
    height: 500px;
    overflow-y: scroll;
}

.homepage-calendar {
    width: 30%;
    border: 1px solid #D7E5E8;
    padding: 10px;
}

.tribe-events-title a {
    color: #6DA0A9;
}

.bottom-content {
    background-color: #383838;
    padding: 50px 0;
}

.bottom-content .main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-bottom: 20px;
}

.bottom-content .tab {
    cursor: pointer;
    height: 100px;
    box-sizing: border-box;
    flex: 30%;
    background-color: #AC8B3A;
    color: #FFF;
    border-radius: 10px;
    margin: 5px 10px 30px 5px;
    position: relative;

}

.bottom-content .tab a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
}

.bottom-content .tab a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: avenir, 'sans-serif';
}

.bottom-content .tab .tab-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-content .tab .tab-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
}


/*************************************************** END HOMEPAGE STYLES ***************************************************/
