html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

/*************************************************** START UITLS ***************************************************/

h1, h2, h3, h4, h5, h6, a, button, input[type="button"], input[type="submit"], label {
    font-family: avenir, 'sans-serif';
}
p, span {
    font-family: 'EB Garamond', serif;
}

.button {
    border-radius: 3px;
    margin: 10px;
    padding: 12px 40px;
    background-color: #9E1D25;
    color: #FFFFFF;
    line-height: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: avenir, 'sans-serif';
}

.breadcrumb {
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    align-items: center;
    position: relative;
}

.breadcrumb .breadcrumb-icon {
    padding-right: 20px;
}

.breadcrumb-title h1 {
    color: #383838;
}

.search-form {
    position: absolute;
    right: 0;
}

img {
    display: block;
    max-width: 100%;
}


/*************************************************** END UITLS ***************************************************/

/*************************************************** START MAIN HEADER STYLES ***************************************************/
.main-header {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 2px -2px #E8DFC9;

}
/*************************************************** END MAIN HEADER STYLES ***************************************************/
/*************************************************** START MAIN NAV STYLES ***************************************************/

.main-nav {
    padding-left: 50px;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-nav ul li {
    float: left;
}

.main-nav ul li a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 16px;
}

/* Change the link color to #111 (black) on hover */
.main-nav ul li a:hover {
    color: #9E1D25;
}
/*************************************************** END MAIN NAV STYLES ***************************************************/

/*************************************************** START MAIN CONTENT STYLES ***************************************************/
.main-content {
    margin: 0 auto;
    max-width: 1200px;
}

/*************************************************** END MAIN CONTENT STYLES ***************************************************/

/*************************************************** START HOMEPAGE STYLES ***************************************************/

.main-content {
    padding-top: 20px;
    margin-bottom: 20px;
}

.main-content .top-content {
    display: flex;
}

.main-content .top-content {
    display: flex;
}

.homepage-moot-container {
    width: 50%;
    border: 1px solid #D7E5E8;
    padding: 10px;
    margin-right: 10%;
    height: 500px;
    overflow-y: scroll;
}

.homepage-calendar {
    width: 30%;
    border: 1px solid #D7E5E8;
    padding: 10px;
}

.tribe-events-title a {
    color: #6DA0A9;
}

.bottom-content {
    background-color: #383838;
    padding: 50px 0;
}

.bottom-content .main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-bottom: 20px;
}

.bottom-content .tab {
    cursor: pointer;
    height: 100px;
    box-sizing: border-box;
    flex: 30%;
    background-color: #AC8B3A;
    color: #FFF;
    border-radius: 10px;
    margin: 5px 10px 30px 5px;
    position: relative;

}

.bottom-content .tab a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
}

.bottom-content .tab a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: avenir, 'sans-serif';
}

.bottom-content .tab .tab-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-content .tab .tab-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
}


/*************************************************** END HOMEPAGE STYLES ***************************************************/


/*************************************************** START SCHOLARSHIPS STYLES ***************************************************/

.scholarships-container {
    border-bottom: 1px solid #D8D8D8;
}

.scholarships-container-header {
    justify-content: space-between;
    display: flex;
}

.scholarships-container-body {
    color: #666666;
    font-family: 'EB Garamond', serif;
    margin-bottom: 20px;
}

.scholarships-container-footer {
    color: #9E1D25;
    margin-bottom: 20px;
}



/*************************************************** END SCHOLARSHIPS STYLES ***************************************************/


.page-template-template-student-signup header,
.page-template-template-student-signup footer,
.page-template-template-student-login header,
.page-template-template-student-login footer,
.nscs_user_unregistered header,
.nscs_user_unregistered footer {
    display: none;
}

label {
    color: #333333;
    font-weight: 300;
    font-size: 0.8rem;
    display: block;
    margin-bottom: 0.25rem;
}

input[type="text"],
input[type="password"],
select {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    width: 100%;
    border: 1px solid rgba(109, 160, 169, 1);
    font-weight: 300;
    font-size: 0.9rem;
    border-radius: 0.25rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid #AC8B3A;
    color: #AC8B3A;
    outline: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(109, 160, 169, 0.5);
}

input[type="submit"],
.nscs-button {
    display: inline-block;
    color: #FFF;
    background-color: #9E1D25;
    border: none;
    border-radius: 0.25rem;
    text-transform: uppercase;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    font-size: 0.9rem;
    font-weight: 800;
}

input[type="submit"]:hover,
.nscs-button:hover {
    color: #FFF;
    background-color: #AC8B3A;
    cursor: pointer;
    cursor: hand;
}

.input-group {
    margin-bottom: 2rem;
}

.input-group:focus-within label {
    color: #9E1D25;
}

.shell {
    position: relative;
    line-height: 1;
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    font-weight: 300;
}

.shell span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    color: #ccc;
    pointer-events: none;
    z-index: 0;
    padding: 0 1rem;
}

.shell span i {
    font-style: normal;
    /* any of these 3 will work */
    color: transparent;
    opacity: 0;
    visibility: hidden;
}

input.masked-styles,
input.masked,
.shell span {
    font-size: 16px;
    font-family: monospace;
    padding-right: 10px;
    background-color: transparent;
    text-transform: uppercase;
}

.nscs-amount {
    color: #9E1D25;
    font-size: 1.5rem;
    font-weight: 800;
}

.nscs-amount:after {
    content: '.00';
    font-size: .85rem;
    color: #333333;
    font-weight: 300;
}

.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid rgba(109, 160, 169, 1);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#card-errors {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    color: red;
}

/* non globals */

.nscs-auth-container {
    width: 980px;
    max-width: 100%;
    padding: 80px 30px;
    margin: 0 auto;
}

.nscs-auth-header__logo {
    width: 300px;
    max-width: 100%;
}

.nscs-auth__constrict {
    width: 50%;
}

.nscs-auth-header__title {
    color: #333333;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1.5rem 0;
    max-width: 100%;
    text-transform: uppercase;
}

.nscs-auth__bg {
    position: fixed;
    top: 0;
    right: 0;
    width: 55%;
    height: 75%;
    background: transparent url('../images/background-sign-up.png') no-repeat bottom left;
    background-size: cover;
}

.nscs-auth__bg--registration {
    position: absolute;
    top: 10%;
    width: 50%;
    height: 50%;
    background-image: url('../images/background-registration.png');
    background-size: contain;
}

.nscs-auth__content {
    width: 50%;
}

.nscs-auth__content--registration {
    width: 100%;
}

.nscs-auth__message {
    background: rgba(158, 29, 37, 0.5);
    color: #333;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}

.nscs-auth__message a {
    color: #000;
}

.nscs-auth__message:empty {
    padding: 0;
    margin: 0;
}

.nscs-auth__registration-step {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nscs-auth__registration-step--active {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.nscs-auth__amount {
    font-size: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #CCCCCC;
    line-height: 1rem;
}

.nscs-auth__amount:after {
    display: table;
    content: '';
    clear: both;
}

.nscs-auth__amount .nscs-amount {
    float: right;
}

.nscs-auth__cardinfo {
    margin: 2rem 0;
    padding: 2rem 2rem 0 2rem;
    border: 1px solid #CCCCCC;
}

.nscs-auth__card-security {
    margin: 0 -0.5rem;
}

.nscs-auth__card-security .input-group {
    float: left;
    width: 50%;
    padding: 0 0.5rem;
}

.nscs-auth__card-security:after {
    content: '';
    display: table;
    clear: both;
}

.nscs-auth__shippinginfo {
    margin-left: -1rem;
    margin-right: -1rem;
}

.nscs-auth__shippinginfo .input-group {
    float: left;
    width: 50%;
    padding: 0 1rem;
}

.nscs-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5D1014;
    z-index: 10000;
    overflow: auto;
}

.nscs-overlay__inner {
    width: 980px;
    max-width: 100%;
    padding: 40px;
    margin: 80px auto;
    background: #FFF;
}

.nscs-overlay__title {
    margin-top: 0;
}

.nscs-products {
    margin: 3rem -1rem;
}

.nscs-products:after {
    content: '';
    display: table;
    clear: both;
}

.nscs-product {
    float: left;
    width: 33%;
    padding: 0 1rem;
}

.nscs-product__inner {
    border: 1px solid #AC8B3A;
    border-radius: 0.5rem 0.5rem 0 0;
    background: #FFF;
    width: 100%;
    overflow: hidden;
}

.nscs-product__image {
    margin: 0 auto;
    padding-top: 80%;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 20px solid #FFF;
}

.nscs-product__meta {
    padding: 0.75rem 1rem;
    border-top: 1px solid #AC8B3A;
    line-height: 1rem;
    font-size: .90rem;
}

.nscs-product__meta:after {
    content: '';
    display: block;
    clear: both;
}

.nscs-product__meta .nscs-amount {
    float: right;
    padding-left: 1rem;
}

.nscs-product .nscs-button {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    background-color: #AC8B3A;
}

.nscs-product .nscs-button:before {
    content: '+ ADD TO ORDER';
    display: inline-block;
}

.nscs-product .nscs-button--active:before {
    content: 'ADDED';
    display: inline-block;
}

.nscs-product .nscs-button--active,
.nscs-product .nscs-button:hover {
    background-color: #6DA0A9;
}

.nscs-cart-total {
    text-align: right;
}

.nscs-cart-total__total,
.nscs-cart-total__amount,
.nscs-cart-total__checkout {
    display: inline-block;
    margin: 0 0 0 1rem;
}

@media(max-width: 992px) {

    .nscs-auth-header__title br {
        display: none;
    }

    .nscs-auth__content {
        width: 100%;
    }

    .nscs-auth__constrict {
        width: 100%;
    }

    .nscs-auth__bg {
        display: none;
    }

    .nscs-auth__cardinfo {
        margin: 2rem 0 0 0;
        padding: 0;
        border: none;
    }

}

@media(max-width: 768px) {

    .nscs-auth__shippinginfo .input-group {
        width: 100%;
        float: none;
    }

}