/*************************************************** START UITLS ***************************************************/

h1, h2, h3, h4, h5, h6, a, button {
    font-family: avenir, 'sans-serif';
}
p, span {
    font-family: 'EB Garamond', serif;
}

/*************************************************** END UITLS ***************************************************/

/*************************************************** START MAIN HEADER STYLES ***************************************************/
.main-header {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 2px -2px #E8DFC9;

}
/*************************************************** END MAIN HEADER STYLES ***************************************************/
/*************************************************** START MAIN NAV STYLES ***************************************************/

.main-nav {
    padding-left: 50px;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-nav ul li {
    float: left;
}

.main-nav ul li a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 16px;
}

/* Change the link color to #111 (black) on hover */
.main-nav ul li a:hover {
    color: #9E1D25;
}
/*************************************************** END MAIN NAV STYLES ***************************************************/

/*************************************************** START MAIN CONTENT STYLES ***************************************************/
.main-content {
    margin: 0 auto;
    max-width: 1200px;
}
/*************************************************** END MAIN CONTENT STYLES ***************************************************/