/*************************************************** START LOGIN PAGE STYLES ***************************************************/

html, body, .main-content, .login-container {
    height: 100%;
}

.login-container {
    display: flex;
    background-image: url(../images/student.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 300px -440px;

    /*background-image: url(../images/rectangle.png), url(../images/student.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 560px -400px, 500px -300px;*/
    background-size: cover;
}


.login-container input[type="text"], .login-container input[type="password"] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    color: #FFFFFF;
    border: 1px solid #666666;
    background-color: #9E1D25;
    cursor: pointer;
    border-radius: 3px;
    line-height: 1;
    padding: 9px 12px;
    font-size: 16px;
}

.login-container .login-form {
    padding-left: 100px;
    width: 50%;
}

.login-form img {
    margin-left: -20px;
}


/*************************************************** END LOGIN PAGE STYLES ***************************************************/