/* -------------------------------- START SINGLE PAGE -------------------------------- */

.tribe-events-tickets-rsvp {
    width: 100%;
}

.tribe-events-back a,
.tribe-events-nav-previous a,
.tribe-events-nav-next a,
.tribe-venue a,
.tribe-events-address a,
.tribe-back a,
.user-details a,
.tribe-link-view-attendee a,
.tribe-events-list-event-title a,
.tribe-events-venue-details a,
.tribe-events-list-event-description a {
    color: #6DA0A9;
}

.tribe-rsvp-message-success {
    background-color: #6DA0A9 !important;
    border: none !important;
    color: #FFFFFF !important;
    padding: 9px 12px !important;
}

/* -------------------------------- END SINGLE PAGE -------------------------------- */

/* -------------------------------- START LIST PAGE -------------------------------- */
.list-event-rsvp .tribe-button,
.tribe-events-event-cost .tribe-button,
.tribe-bar-submit .tribe-events-button,
.tribe-events-ical.tribe-events-button,
.tribe-events-cal-links .tribe-events-button,
.add-to-cart .tribe-button.tribe-button--rsvp {
    color: #FFFFFF !important;
    background-color: #9E1D25 !important;
    cursor: pointer !important;
}

.tribe-events-loop {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px !important;
}

.tribe-events-first {
    padding-top: 0 !important;
}

.tribe-events-loop .single-event-container {
    width: 50%;
}

.tribe-events-list .type-tribe_events:first-of-type {
    margin-top: 0;
}

.tribe-events-list .type-tribe_events {
    width: 33%;
}

@media only screen and (max-width: 800px) {
    .tribe-events-list .type-tribe_events {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .tribe-events-list .type-tribe_events {
        width: 100%;
    }
}


/* -------------------------------- END LIST PAGE -------------------------------- */